.header {
  position: relative;
  height: 700px;
  background: url("../../assets/background-img/header-bg.jpg") 0 0/cover no-repeat;
  background-position: 50% 50%;
  padding: 48px 0 80px;
}
.header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  z-index: 3;
  width: 18px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header__btn > span, .header__btn > span::before, .header__btn > span::after {
  transition: all 0.2s ease-in-out;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}
.header__btn span::after, .header__btn span::before {
  content: "";
}
.header__btn span::after {
  top: 4px;
}
.header__btn span::before {
  top: -4px;
}
.header__btn.active > span {
  background: rgb(0, 117, 255);
}
.header__btn.active > span::after, .header__btn.active span::before {
  top: 0;
}
.header__btn.active > span::after {
  transform: rotate(45deg);
}
.header__btn.active > span::before {
  transform: rotate(-45deg);
}
.header__btn.active:hover {
  transform: scale(1);
}
.header__btn.active:hover > span::after, .header__btn.active:hover span::before {
  width: 100%;
}
.header__btn:hover {
  transition: all 0.6s ease-in-out;
  transform: scale(1.33);
}
.header__btn:hover span::before {
  width: 75%;
}
.header__btn:hover span::after {
  width: 50%;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 24px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 3;
}
.header__logo img {
  width: 136px;
  height: 80px;
}
.header__telephone {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__telephone:hover .header__telephone-number {
  opacity: 100%;
}
.header__telephone:hover img {
  transition: all 1s;
  transform: scale(1.33);
}
.header__telephone-number {
  transition: all 1s;
  opacity: 0%;
}
.header__name-company {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.5px;
  text-align: left;
  max-width: 500px;
  height: 188px;
  color: #fff;
}
.header__name-company span {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .header {
    height: 568px;
    padding-top: 36px;
  }
  .header__logo img {
    width: 82px;
    height: 48px;
  }
  .header__name-company {
    height: 108px;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .header__telephone-number {
    display: none;
  }
  .header__btn:hover {
    transition: none 0.6s ease-in-out;
    transform: scale(1);
  }
  .header__btn:hover span::before {
    width: 100%;
  }
  .header__btn:hover span::after {
    width: 100%;
  }
}
@keyframes telephone-number {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 117, 255);
  z-index: 2;
  left: 0;
  top: -100%;
  transition: all 0.8s;
}
.menu.active {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}
.menu__content {
  display: flex;
  flex-direction: column;
  width: 1020px;
  margin: 150px auto 0;
  align-items: flex-start;
}
.menu__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  align-items: flex-start;
}
.menu__item {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.menu__item:not(:last-child) {
  margin-bottom: 24px;
}
.menu__item::after {
  display: block;
  background-color: #ffffff;
  content: "";
  margin-top: 8px;
  height: 1px;
  width: 100%;
  opacity: 0%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz--transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:hover:after {
  opacity: 100%;
}
.menu__call {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.5s;
}
.menu__call span {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.menu__call span::after {
  display: block;
  background-color: #ffffff;
  content: "";
  margin-top: 8px;
  height: 1px;
  width: 100%;
}
.menu__call:hover {
  transform: scale(1.1);
}
.menu__telephone-number {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .menu__content {
    width: 280px;
    margin: 120px auto 0;
  }
}
.telephone-number {
  width: 130px;
  margin-right: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
}